* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #191b20;
  height: 100%;
}
body .genre-title {
  font-family: "Inter", sans-serif;
  color: white;
  text-align: center;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  padding-top: 60px;
}
body .genre-p {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 10px;
}
body .genre-L {
  color: white;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 400;
  padding-bottom: 10px;
  margin-top: 95px;
}
body .header {
  font-family: "Inria Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #141517;
  width: 100%;
  height: 100px;
  padding: 0 15%;
}
body .header .logo {
  color: white;
  font-size: 36px;
  font-weight: 700;
  cursor: pointer;
}
body .header .logo #logo_red {
  color: #cc0000;
}
body .header .nav {
  color: white;
  display: flex;
  gap: 29px;
}
body .header .nav p {
  font-family: "Inria Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
body .header .nav p:hover {
  color: #cc0000;
}
body .search_movie {
  display: flex;
  justify-content: center;
  margin-top: 73px;
  margin-bottom: 61px;
}
body .search_movie #search_input {
  font-family: "Inter", sans-serif;
  border: none;
  width: 228px;
  height: 44px;
  padding-left: 18px;
  font-size: 16px;
  border-radius: 8px 0px 0px 8px;
  box-shadow: 4px 8px 20px 0px rgba(0, 0, 0, 0.1);
}
body .search_movie #button_search {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #cc0000;
  width: 44px;
  height: 44px;
  cursor: pointer;
  box-shadow: 4px 8px 20px 0px rgba(0, 0, 0, 0.1);
  border-radius: 0 8px 8px 0;
}
body .search_movie #button_search:hover {
  background-color: #8b0000;
}
body .first_container {
  margin-bottom: 95px;
}
body .genre-swiper-container {
  height: 350px;
  max-width: 1075px;
  margin: 0px auto;
  position: relative;
}
body .genre-container {
  max-width: 1075px;
  margin: 0 auto;
  margin-top: 100px;
}
body .genre-container .genre-list-div {
  margin: 0 auto;
  max-width: 700px;
  display: flex;
  align-items: center;
  margin-top: 45px;
  margin-bottom: 25px;
}
body .genre-container .genre-list-div .genre-list {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  width: 600px;
  gap: 29px;
}
body .genre-container .genre-list-div .genre-list .genre-list-item {
  font-family: "Inter", sans-serif;
  color: white;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.36px;
  list-style: none;
  padding: 7px 8px;
  cursor: pointer;
}
body .genre-container .genre-list-div .genre-list .genre-list-item:hover {
  background-color: #cc0000;
}
body .genre-container .barre {
  width: 599px;
  height: 2px;
  background-color: white;
  margin: 0px 243px;
  margin-bottom: 29px;
}
body .genre-container .genre-swiper-container {
  margin-top: 20px;
}
body .results-swiper-container,
body .last-releases-swiper-container,
body .genre-swiper-container {
  height: 350px;
  max-width: 1075px;
  margin: 0px auto;
  position: relative;
}
body .swiper {
  position: static;
  width: 100%;
  height: 100%;
}
body .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .swiper .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .swiper .swiper-button-prev,
body .swiper .swiper-button-next {
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
body .swiper .swiper-button-next {
  background-image: url("./image_BeMovie/right-arrow.svg") !important;
  right: -50px;
}
body .swiper .swiper-button-prev {
  background-image: url("./image_BeMovie/left-arrow.svg") !important;
  left: -50px;
}
body .swiper .swiper-button-next::after,
body .swiper .swiper-button-prev::after {
  content: "";
}/*# sourceMappingURL=style.css.map */