* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #191b20;
  height: 100%;
  /*
    .search_movie {
      display: flex;
      justify-content: center;
      margin-top: 73px;

      #search_input {
        font-family: $inter;
        border: none;
        width: 228px;
        height: 44px;
        padding-left: 18px;
        font-size: 16px;
        border-radius: 8px 0 0 8px;
        box-shadow: 4px 8px 20px 0px rgba(0, 0, 0, 0.1);
      }

      #button_search {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $colorRed;
        width: 44px;
        height: 44px;
        cursor: pointer;
        box-shadow: 4px 8px 20px 0px rgba(0, 0, 0, 0.1);
        border-radius: 0 8px 8px 0;

        &:hover {
          background-color: $colorDarkRed;
        }
      }
    }

    .results_search {
      max-width: 1075px;
      margin: 61px auto 95px auto;
      position: relative;

      P {
        font-family: $inter;
        color: white;
        font-size: 16px;
        padding-bottom: 10px;
      }

      .swiper-container-wrapper {
        position: relative;
        width: 1075px;
        margin: 0 auto;
        overflow: visible;
      }

      .swiper {
        width: 100%;
        height: 350px;
        position: relative;
      }

      .swiper-slide {
        text-align: center;
        background: #fff;

        img {
          display: block;
          width: 350px;
          height: 100%;
          object-fit: cover;
        }
      }

      .swiper-button-next,
      .swiper-button-prev {
        background-size: contain;
        background-repeat: no-repeat;
        width: 44px;
        height: 44px;
        cursor: pointer;
        z-index: 10;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
      }

      .swiper-button-next {
        background-image: url("./image_BeMovie/next_swiper.png");
        right: -60px;
      }

      .swiper-button-prev {
        background-image: url("./image_BeMovie/before_swiper.png");
        left: -60px;
      }

      .swiper-button-next::after,
      .swiper-button-prev::after {
        display: none;
      }
    }
  }*/
}
body .header {
  font-family: "Inria Sans", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #141517;
  width: 100%;
  height: 100px;
  padding: 0 15%;
}
body .header .logo {
  color: white;
  font-size: 36px;
  font-weight: 700;
  cursor: pointer;
}
body .header .logo #logo_red {
  color: #cc0000;
}
body .header .nav {
  color: white;
  display: flex;
  gap: 29px;
}
body .header .nav p {
  font-family: "Inria Sans", sans-serif;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
body .header .nav p:hover {
  color: #cc0000;
}
body .genre-swiper-container {
  height: 350px;
  max-width: 1075px;
  margin: 0px auto;
  position: relative;
}
body .genre-container {
  max-width: 1075px;
  margin: 0 auto;
  margin-top: 100px;
}
body .genre-container .genre-title {
  color: white;
  text-align: center;
}
body .genre-container .genre-p {
  margin: 10px;
}
body .genre-container hr {
  color: white;
  width: 600px;
  margin: 0 auto;
}
body .genre-container .genre-list-div {
  margin: 0 auto;
  max-width: 700px;
  display: flex;
  align-items: center;
  margin-top: 45px;
  margin-bottom: 25px;
}
body .genre-container .genre-list-div .genre-list {
  display: flex;
  flex-direction: row;
  gap: 35px;
}

body .swiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}
body .swiper .swiper-slide .swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
body .swiper .swiper-button-prev,
body .swiper .swiper-button-next {
  background-size: contain;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
}
body .swiper .swiper-button-next {
  background-image: url("./image_BeMovie/right-arrow.svg") !important;
  right: -50px;
}
body .swiper .swiper-button-prev {
  background-image: url("./image_BeMovie/left-arrow.svg") !important;
  left: -50px;
}
body .swiper .swiper-button-next::after,
body .swiper .swiper-button-prev::after {
  content: "";
}/*# sourceMappingURL=style.css.map */