// Variables
$colorBody: #191b20;
$colorTopBot: #141517;
$colorRed: #cc0000;
$colorDarkRed: #8b0000;
$inria: "Inria Sans", sans-serif;
$inter: "Inter", sans-serif;

// Styles globaux
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: $colorBody;
  height: 100%;

  .genre-title {
    font-family: $inter;
    color: white;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 19.36px;
    padding-top: 60px;
  }

  .genre-p,
  .genre-L {
    color: white;
    font-family: $inter;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
    margin-top: 95px;
  }

  .header {
    font-family: $inria;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $colorTopBot;
    width: 100%;
    height: 100px;
    padding: 0 15%;

    .logo {
      color: white;
      font-size: 36px;
      font-weight: 700;
      cursor: pointer;

      #logo_red {
        color: $colorRed;
      }
    }

    .nav {
      color: white;
      display: flex;
      gap: 29px;

      a {
        font-family: $inria;
        text-decoration: none;
        color: white;
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;

        &:hover {
          color: $colorRed;
        }
      }
    }
  }

  .search_movie {
    display: flex;
    justify-content: center;
    margin-top: 73px;
    margin-bottom: 61px;

    #search_input {
      font-family: $inter;
      border: none;
      outline: none;
      width: 228px;
      height: 44px;
      padding-left: 18px;
      font-size: 16px;
      border-radius: 8px 0px 0px 8px;
      box-shadow: 4px 8px 20px 0px rgba(0, 0, 0, 0.1);
    }

    #button_search {
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $colorRed;
      width: 44px;
      height: 44px;
      cursor: pointer;
      box-shadow: 4px 8px 20px 0px rgba(0, 0, 0, 0.1);
      border-radius: 0 8px 8px 0;

      &:hover {
        background-color: $colorDarkRed;
      }
    }
  }

  .results_search {
    display: none;
  }

  .genre-swiper-container,
  .results-swiper-container,
  .last-releases-swiper-container {
    height: 350px;
    max-width: 1075px;
    margin: 0px auto;
    position: relative;
  }

  .genre-container {
    max-width: 1075px;
    margin: 0 auto;
    margin-top: 100px;

    .genre-list-div {
      margin: 0 auto;
      max-width: 700px;
      display: flex;
      align-items: center;
      margin-top: 45px;
      margin-bottom: 25px;

      .genre-list {
        display: flex;
        flex-direction: row;
        margin: 0 auto;
        width: 600px;
        gap: 29px;

        .genre-list-item {
          font-family: $inter;
          color: white;
          border-radius: 8px;
          font-size: 16px;
          font-weight: 400;
          line-height: 19.36px;
          list-style: none;
          padding: 7px 8px;
          cursor: pointer;

          &:hover {
            background-color: $colorRed;
          }
        }

        .selected{
          font-family: $inter;
          background-color: $colorRed;
          color: white;
          border-radius: 8px;
          font-size: 16px;
          font-weight: 400;
          line-height: 19.36px;
          list-style: none;
          padding: 7px 8px;
          cursor: pointer;
        }
      }
    }

    .barre {
      width: 599px;
      height: 2px;
      background-color: white;
      margin: 0px 243px;
      margin-bottom: 29px;
    }
  }

  .swiper {
    position: static;
    width: 100%;
    height: 100%;

    .swiper-slide {
      position: relative;

      img {
        display: block;
        width: 100%;
        height: auto;
        transition: opacity 0.3s ease-in-out;
      }

      &:hover .hover-content {
        opacity: 1; // Show on hover
      }
    }

    // HOVER

    .hover-content {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      background-color: rgba(0, 0, 0, 0.8); // Darker overlay with 80% opacity
      backdrop-filter: blur(2px);
      opacity: 0; // Initially hidden
      transition: opacity 0.3s ease-in-out;

      .movie-title {
        color: #ffffff;
        font-size: 20px;
        // margin: 5px 0;
        text-align: center;
        font-family: $inter;
        font-weight: 700;
        line-height: 24.2px;
      }

      .movie-year {
        font-family: $inter;
        font-size: 20px;
        font-weight: 700;
        line-height: 24.2px;
        text-align: center;
        color: #b0b0b0;
        margin: 5px 0;
        padding-top: 23px;
      }

      .movie-genres {
        color: #ffffff;
        font-size: 14px;
        margin: 5px 0;
        text-align: center;
        font-family: $inter;
        font-weight: 500;
        line-height: 16.94px;
        padding-top: 23px;
      }

      .star-rating {
        display: flex;
        align-items: center;
        flex-direction: column;
        margin-top: 20px;

        .star {
          width: 35px;
          height: 40px;
          margin-right: 5px;
          padding-bottom: 10px;
        }

        span {
          color: $colorRed; // Red color for rating
          font-family: $inter;
          font-size: 32px;
          font-weight: 700;
          line-height: 38.73px;
          padding-right: 5px;
        }
      }
    }

    .swiper-button-prev,
    .swiper-button-next {
      background-size: contain;
      background-repeat: no-repeat;
      width: 20px;
      height: 20px;
    }

    .swiper-button-next {
      background-image: url("./image_BeMovie/right-arrow.svg") !important;
      right: -50px;
      top: 220px;
    }

    .swiper-button-prev {
      background-image: url("./image_BeMovie/left-arrow.svg") !important;
      left: -50px;
      top: 220px;
    }

    .swiper-button-next::after,
    .swiper-button-prev::after {
      content: "";
    }
  }
  // FOOTER
  .footer {
    font-family: $inria;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $colorTopBot;
    width: 100%;
    height: 186px;
    padding: 0 15%;
    margin-top: 110px;

    .logo {
      color: white;
      font-size: 36px;
      font-weight: 700;
      cursor: pointer;

      #logo_red {
        color: $colorRed;
      }
    }

    .nav {
      color: white;
      display: flex;
      gap: 29px;

      a {
        font-family: $inria;
        color: white;
        text-decoration: none;
        font-size: 14px;
        font-weight: 700;
        cursor: pointer;

        &:hover {
          color: $colorRed;
        }
      }
    }

    .back-right {
      font-family: $inter;
      font-size: 14px;
      font-weight: 300;
      line-height: 16.79px;
      color: #b8b8b8;
    }
  }
  // BACKGROUND MODAL TRANSPARENT
  .overlay_modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    z-index: 10;
  }
  // MODAL
  .modal_Login {
    display: none;
    background-color: black;
    color: white;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 410px;
    height: 610px;
    z-index: 11;

    .close {
      position: relative;
      top: 15px;
      left: 15px;
      width: 15px;
      cursor: pointer;
    }

    .signup_login {
      display: flex;
      justify-content: center;
      margin-top: 66px;
      margin-bottom: 54px;
      cursor: pointer;

      .signup {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $inria;
        border: 1px solid white;
        width: 146px;
        height: 54px;
        font-size: 24px;
        font-weight: 700;
        line-height: 28.78px;
        letter-spacing: 0.03em;
        border-radius: 8px 0 0 8px;
      }

      .login {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $inria;
        background-color: $colorRed;
        width: 146px;
        height: 54px;
        font-size: 24px;
        font-weight: 700;
        line-height: 28.78px;
        letter-spacing: 0.03em;
        border-radius: 0 8px 8px 0;
      }

      .click_red {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $inria;
        background-color: $colorRed;
        width: 146px;
        height: 54px;
        font-size: 24px;
        font-weight: 700;
        line-height: 28.78px;
        letter-spacing: 0.03em;
        border-radius: 8px 0 0 8px;
      }

      .click_black {
        display: flex;
        justify-content: center;
        align-items: center;
        font-family: $inria;
        border: 1px solid white;
        width: 146px;
        height: 54px;
        font-size: 24px;
        font-weight: 700;
        line-height: 28.78px;
        letter-spacing: 0.03em;
        border-radius: 0 8px 8px 0;
      }
    }

    .input {
      margin: auto;
      width: 288px;

      #input_username {
        width: 288px;
        height: 54px;
        padding-left: 20px;
        margin-bottom: 25px;
        border-radius: 8px;
        border: none;
        outline: none;
        font-family: $inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.36px;
      }

      .password {
        #input_password {
          width: 288px;
          height: 54px;
          padding-left: 20px;
          margin-bottom: 25px;
          border-radius: 8px;
          border: none;
          outline: none;
          font-family: $inter;
          font-size: 16px;
          font-weight: 400;
          line-height: 19.36px;
        }
        .coche {
          display: flex;
          .checkbox {
            width: 18px;
            height: 18px;
            border-radius: 4px; // le border ne s'applique pas
            cursor: pointer;
          }

          p {
            font-family: $inter;
            font-size: 16px;
            font-weight: 400;
            line-height: 19.36px;
            padding-left: 10px;
            margin-bottom: 57px;
          }
        }
      }
    }
    .container_button_login {
      display: flex;
      justify-content: center;

      .button_login {
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $colorRed;
        font-family: $inria;
        border-radius: 8px;
        width: 288px;
        height: 47px;
        font-size: 20px;
        font-weight: 700;
        line-height: 23.98px;
        letter-spacing: 0.03em;
        margin-bottom: 30px;
        cursor: pointer;
      }
    }

    .forgot_member {
      width: 288px;
      margin: auto;

      .forgot_password {
        color: $colorRed;
        font-family: $inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 14.52px;
        cursor: pointer;
        padding-bottom: 10px;
      }
      .not_a_member {
        font-family: $inter;
        font-size: 16px;
        font-weight: 400;
        line-height: 19.36px;

        span {
          cursor: pointer;
          color: $colorRed;
        }
      }
    }
  }
}
